
//== breakpoint
$screen-sm = 1200px
$screen-md = 1400px
$screen-lg = 1700px
// $screen-sm-min = $screen-sm
$screen-sm-max = $screen-md - 1
$screen-md-min = $screen-md
$screen-md-max = $screen-lg - 1
$screen-lg-min = $screen-lg


//== colors
$gray-dark = #292b2c
$gray = #464a4c
$gray-light = #636c72
$gray-lighter = #eceeef
$gray-lightest = #f7f7f9

$body-bg = #fff
$body-color = #292b2c
$primary-color = #ffdf00


//== link
$link-color = $brand-primary
$link-decoration = none
$link-hover-color = $link-color - 15%
$link-hover-decoration = underline


//== font
// -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif
$font-family-chinese   = "PingFang SC", "Microsoft YaHei"
$font-family-base      = -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif
$font-family-monospace = consolas, Menlo, $font-family-chinese, monospace
$font-size-base = 16px * 2

$font-weight-normal = normal
$font-weight-bold = bold
$font-weight-base = $font-weight-normal

$line-height-base = 1.5

$cursor-disabled = not-allowed



