.button
  button()
  display inline-block
  vertical-align middle
  // padding 6px 12px
  background-color transparent
  border 0
  border-radius 0
  cursor pointer
  user-select none
  text-align center
  line-height 1.25
  transition all .15s ease-in-out
  &:disabled, .disabled
    opacity .65
    cursor not-allowed
